<div class="container d-flex justify-content-center custom-margin">
    <form>
        <div class="row mb-3">
            <label for="exampleInputFirstName" class="form-label">Фамилия</label>
            <input type="text" class="form-control" id="exampleInputFirstName">
        </div>
        <div class="row mb-3">
            <label for="exampleInputFirstFirstName" class="form-label">Имя</label>
            <input type="text" class="form-control" id="exampleInputFirstFirstName">
        </div>
        <div class="row mb-3">
            <label for="exampleInputFirstFirstPatronymic" class="form-label">Отчество</label>
            <input type="text" class="form-control" id="exampleInputFirstFirstPatronymic">
        </div>
        <div class="row mb-3">
            <label for="exampleInputLogin" class="form-label">Login</label>
            <input type="text" class="form-control" id="exampleInputLogin">
        </div>
        <div class="row mb-3">
          <label for="exampleInputEmail" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp">
        </div>
        <div class="row mb-3">
          <label for="exampleInputPassword" class="form-label">Password</label>
          <input type="password" class="form-control" id="exampleInputPassword">
        </div>
        <button type="submit" class="btn btn-dark">Registration</button>
    </form>
</div>