<div cdkDropListGroup>
  <br />
  <app-column-container [title]="'Открыто'" [isAddTask]="true" [tasks]="tasks" [deskId]="deskId" [statusId]="'a74c2c97-11c7-4339-a3a7-f85db4a2b72f'" />
  <app-column-container [title]="'В работе'" [deskId]="deskId" [statusId]="'433a7f2c-fbf7-48be-9f13-0cb651185308'" />
  <app-column-container [title]="'Ревью'" [deskId]="deskId" [statusId]="'914069b2-6cfc-4b67-b6c5-fbade03c8e4f'" />
  <app-column-container [title]="'Тест'" [deskId]="deskId" [statusId]="'d6769517-5e6f-437b-9795-8f8cf98d0f6e'" />
  <app-column-container [title]="'В релиз'" [deskId]="deskId" [statusId]="'bf2493d1-b30d-4adc-b5f1-302155d7e0e3'" />
  <app-column-container [title]="'Готово'" [deskId]="deskId" [statusId]="'bb83a254-461a-46a0-bffa-038569ffc205'" />
</div>