<div cdkDropListGroup>
  <br />
  <app-column-container [title]="'Открыто'" [isAddTask]="true" [deskId]="deskId" [index]="0" />
  <app-column-container [title]="'В работе'" [deskId]="deskId" [index]="1" />
  <app-column-container [title]="'Ревью'" [deskId]="deskId" [index]="2" />
  <app-column-container [title]="'Тест'" [deskId]="deskId" [index]="3" />
  <app-column-container [title]="'В релиз'" [deskId]="deskId" [index]="4" />
  <app-column-container [title]="'Готово'" [deskId]="deskId" [index]="5" />
</div>